.green{
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.white{
  color: white;
  font-family: 'Press Start 2P', cursive;
}


.rightside {
  height: 100vh;
  width: 9.5%;
  position: fixed;
  z-index: 100;
  top: 9%;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: url('../img/rightSideBar.png');
  background-repeat: repeat;
  background-size: cover;
}

.leftside {
  height: 100vh;
  width: 13.3%; 
  position: fixed;
  z-index: 0;
  top: 0; 
  left: 0;
  background-color: black; 
  overflow-x: hidden; 
  margin-top: 3em;
  background-image: url('../img/leftSideBar.png');
  background-repeat: repeat;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  color: white;
  text-decoration: none;
  position: fixed;
  height: 10%;
  top: 0;
  width: 100vw;
  z-index: 2;
  text-align: right;
  background-color: none;
  background-image: url('../img/topBar.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.fadingText{
  height: 10em;
}



h1{
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
}

h3{
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
}
h4{
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
}


#name h1{
  margin-top: 0.5em;
}


a{
  border: 2px;
}

.main{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 70%;
  height: 50%;
  font-family: 'Press Start 2P', cursive;
  z-index: -1;
  margin: 1em auto;
}

.footer{
  font-family: 'Press Start 2P', cursive;
  color:white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 75%;
  height: 50%;
}

.personalPic{
  margin-top: 0em; 
  height: 250px;
  width: 250px;
}
#name{
  margin-bottom: 0em;
  margin-top: 7em;
  color: white;
  /* background-color: #FFF6FE; */
}

#about{
  padding: 3em;
  margin-top: 20em;
  margin-bottom: 0em;
  background-image: url('../img/megmanstage.png');
  background-size: cover;
}

#projects{
  width: 95%;
  display: block;
  box-sizing: border-box;
  margin-top: 5em;
}


#testimonials{
  margin-top: 10em;
  margin-bottom: 10em;
  padding-bottom: 10em;
  background-color:black;
}

a.anchor{
  display: block;
  position: relative;
  top: -550px;
  visibility: hidden;
}


.aboutFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.contactImage{
  background-image: url('../img/backgroundOne.jpg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.contactFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5em;
}

form{
  padding: 15px;
  align-content: center;
}

p{
  text-align: left;
  padding: 20px;
  letter-spacing: 1.5px;
  line-height: 2.5em;
}
hr{
  color:white;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
}
.aboutLeft{
  float: left;
  width: 50%;
}
.aboutRight{
  float: right;
  width: 50%;
}


.first {
    padding-top: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.whiteHr{
  width: 25%;
  border-width: 0.1em;
  border-color: white;
  align-content: center;
  justify-content: center;
}

.blackHr{
  width: 25%;
  border-width: 0.1em;
  border-color: black;
}

.rightAlign{
  text-align: right;
}

html{
  /* background-color: black;
  color: white;
  background-image: url('../img/gbcScreen.png');
  /* background-size: cover; 
  background-attachment: fixed;
  background-size:     100%;                      <------ 
  background-repeat:   no-repeat; */


}

body {   
  height: 100vh;
  width: 100vw;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-weight: thin;
  /* background-color: black; */
  background-color: black;
  color: white;
  background-image: url('../img/gbcScreen.png');
  /* background-size: cover; */
  background-attachment: fixed;
  background-size:     100%;                     /* <------ */
  background-repeat:   no-repeat;

  z-index: 0;
}

.wrapper{
  position: fixed;
  top: 10%;
  overflow: auto;
  z-index: 0;
}

.scroll-item{
  position: relative;
  overflow-y: auto;
}

.inner{
  position: relative;
  top: 0;
}

#background{
  background-image: url("../img/gbcScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  width:100%;
  z-index:1;
}


 h2{
  font-family: 'Press Start 2P', cursive;
 }

 .carousel {
  margin-bottom: 3em;
}

.carousel-cell {
  width: 100%;
  height: 450px;
  margin-right: 0px;
  border-radius: 5px;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.caroImg{
  width: 100%;
  height: 450px;
}



.megaman{
  float: right;
  width: 150px;
  height: 150px;
}


.pikachu{
  float: right;
  width: 150px;
  height: 150px;
  margin-top: 17.5em;
}

.kirby{
  position: relative;
  float: left;
  margin-left: 0%;
  margin-bottom: 5em;
  width: 250px;
  height: 150px;
  padding: 1px;
}












 
.scanlines {
  position: relative;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 75%;
  height: 2px;
  left: 10%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0%;
  right: 7%;
  bottom: 0;
  left: 10%;
  z-index: 0;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

 











  @media only screen and (max-width: 968px) {
    body{
      background-image: none;
    }
    p{
      font-size: 9px;
    }

  }


  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
      float: left;
      overflow: hidden;
  }
  
  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  

  

  
