.green{
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.white{
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
}

#name h1{
  margin-top: 0.5em;
}

.rightside {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 12.5%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.leftside {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 3em;
}

.navbar {
  overflow: hidden;
  /* background-color: black; */
  color: white;
  text-decoration: none;
  position: fixed;
  height: 40px;
  top: 0;
  width: 100%;
  z-index:-1;
  text-align: right;
  background-color: none;
  /* background-image: url('../img/topBar.png');
  background-repeat: no-repeat; */
}

/* .topBar{
  position:fixed;
  top:0;
  z-index: 1;
}
.bottomBar{
  position:fixed;
  top:0;
  z-index: 1;

}
.rightBar{
  position:fixed;
  top:0;
  z-index: 1;
}
.leftBar{
  position:fixed;
  top:0;
  z-index: 1;
} */


a{
  border: 2px;
}
/* .innerNav{
  overflow: hidden;
  background-color: black;
  position: fixed;
  height: 25px;
  top: 15px;
  width: 100%;
  float: right;
  z-index:1;
} */

.bottom {
  height: 50px; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* .wrapper{
  overflow: scroll;
} */

.main{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 75%;
  height: 50%;
  font-family: 'Press Start 2P', cursive;
  z-index: -1;
  margin: 1em auto;
  /* overflow-y:scroll; */
}
.personalPic{
  margin-top: 1em;
  height: 250px;
  width: 250px;
}
#name{
  margin-bottom: 1em;
}
#about{
  margin-top: 7em;
  margin-bottom: 1em;
}
#projects{
  margin-top: 5em;
  /* box-sizing: border-box; */
}

#testimonials{
  margin-top: 10em;
  margin-bottom: 10em;
  padding-bottom: 10em;
}

a.anchor{
  display: block;
  position: relative;
  top: -550px;
  visibility: hidden;
}


.aboutFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

.contactFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
form{
  padding: 15px;
  align-self: center;
  align-content: center;
  width: 75%;
}

p{
  text-align: left;
  padding: 20px;
  letter-spacing: 1.5px;
  line-height: 2.5em;
}
hr{
  text-align: center;
  margin: auto;
}
.aboutLeft{
  float: left;
  width: 50%;
}
.aboutRight{
  float: right;
  width: 50%;
}

/* .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px 5px, 5px;
    text-decoration: none;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 5px; 
    box-shadow: 5px 10px; 
} */

.first {
    padding-top: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.whiteHr{
  width: 25%;
  border-width: 0.1em;
  border-color: white;
  align-content: center;
  justify-content: center;
}

.blackHr{
  width: 25%;
  border-width: 0.1em;
  border-color: black;
  align-self: center;
}

.rightAlign{
  text-align: right;
}

* { box-sizing: border-box; }

body {   
  height: 100vh;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
  font-weight: thin;
  background-color: black;
  /* overflow: hidden; */
}

#background{
  background-image: url("../img/gbcScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  width:100%;
  z-index:1;
}


 h2{
  font-family: 'Press Start 2P', cursive;
 }

.carousel {
  /* background: #EEE; */
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  /* counter-increment: carousel-cell; */
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}



.megaman{
  float: right;
  width: 150px;
  height: 150px;
}


.stick{
  float: left;
  width: 150px;
  height: 150px;
}

.ryu{
  float: right;
  width: 150px;
  height: 150px;
}

.marco{
  float: left;
  width: 150px;
  height: 150px;
  padding: 10px;

}




.wrapper{
  overflow: none;
  margin-top: 5em;
  z-index: -2;
  overflow: scroll;
}

.scanlines {
  position: relative;
  /* overflow: hidden; */
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  animation: scanlines 1s steps(60) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}













  @media only screen and (min-width: 768px) {
  }